/*----------------------------------*/
/*           Media Queries          */
/*----------------------------------*/

* {
  background-color: #ab1245;
}

.test-svg {
  fill: #ab1245;
}

.bell-icon-path {
  stroke: #daed54;
  fill: #777;
}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  
}