

* {
  color: grey;
  border-color: lightgrey;
  font-family: sans-serif;
  font-weight: 300;
}

body {
  background-color: #fff;
}

nav ul {
  max-width: 350px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
}

nav ul svg {
  padding: 8px 20px;
}
  
svg {
  height: 32px;
  width: 32px;
}

form button {
  border-style: solid;
  width:  45%;
}

/*----------------------------------*/
/*           Header Styles          */
/*----------------------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7575C4;
  color: #fff;
  padding: 10px 0;
}

header h2,
header div {
  margin: 0 20px;
  color: #fff;
}

.grey-title,
.grey-title sup {
  color: #ccc;
  font-weight: lighter;
}

#notification-alert{
  position: absolute;
  top: 2px;
  left: 18px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: lime;
  border-style: none;
  cursor: pointer;
}

.vertical-bar {
  width: 0px;
  height: 40px;
  border-right: solid #5F5DC5 1px;
  border-radius: 5px;
}

.user-name {
  display: none;
}

.notifications {
  display: flex;
  align-items: center; 
  position: relative;
}

.notifications * {
  margin: 0 5px;
}


nav {
  background-color: #4e4b75;
}

.icon {
  fill: #fff;
}

.user-picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.chosen-nav {
  border-top: solid lightgreen 2px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid lightgrey;
}

.section * {
  margin: 2px;
}

.section-heading {
  margin-top: 15px;
}

/*----------------------------------*/
/*          Traffic Styles          */
/*----------------------------------*/

.traffic {
  grid-area: 'traffic';
  border: none;
}

.traffic h2 {
  margin-top: 8px;
}

.search-bar input{
  padding-left: 5px;
  border-style: solid;
  border-radius: 5px;
}

.notification {
  background-color: #7575C4;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.notification span {
  font-weight: bold;
  color: white;
  padding-right: 8px;
}

.notification p {
  color: white;
  display: inline;
}

.alert-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7575C4;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.traffic-content {
  width: 100%;
}

/*----------------------------------*/
/*       Daily Traffic Styles       */
/*----------------------------------*/

.daily-traffic {
  grid-area: 'daily-traffic';
}

/*----------------------------------*/
/*       Mobile Users Styles        */
/*----------------------------------*/

.mobile-users {
  grid-area: 'mobile-users';
}

/*----------------------------------*/
/*        Social Stats Styles       */
/*----------------------------------*/

.social-stats {
  grid-area: 'social-stats';
}

.social-stats-graphics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.social-stat-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  background-color: #f5f5f5;
}

.social-stat-box p {
  font-size: 30px;
  margin-left: 10px;
}

.blue-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #7575C4;
  border-radius: 50%;
}

#twitter path {
  transform: translateY(4px);
}

#facebook-svg {
  height: 40px;
}

#facebook path {
  transform: translateX(-13px) translateY(-5px);
}

/*----------------------------------*/
/*          Members Styles          */
/*----------------------------------*/

.members {
  grid-area: 'new-members';
}

.member {
  min-height: 64px;
  width: 70%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid lightgrey 1px;
  font-size: 14px;
} .member:last-child {
  border-bottom: none;
}

.member-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.member-info {
  display: flex;
  flex-direction: column;
}

.recent-button {
  font-size: 30px;
}

/*----------------------------------*/
/*      Recent Activity Styles      */
/*----------------------------------*/

.recent-activity {
  grid-area: 'recent-activity';
}

/*----------------------------------*/
/*             Messages             */
/*----------------------------------*/

.message-user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: 'message-user';
}

.message-user h3 {
  margin-top: 15px;
}

.message-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-form * {
  border-width: 1px;
  border-radius: 5px;
}

.message-form input  {
  width: calc(95% - 20px);
  height: 25px;
  padding: 5px 10px;
  border-style: solid;
}

.message-form textarea {
  width: calc(95% - 20px);
  height: 80px;
  padding: 8px 10px;
}

.submit-btn {
  background-color: #5252bc;
  color: #fff;
  font-weight: bold;
  height: 30px;
  cursor: pointer;
}

/*----------------------------------*/
/*             Settings             */
/*----------------------------------*/

.settings div {
  grid-area: 'settings';
  align-items: flex-start;
  justify-content: space-between;
} 

.setting-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-btn {
  height: 20px;
  width: 70px;
  display: inline-block;
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #fff;
}

.switch-label {
  float: left;
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.settings-layout label {
  width: 190px;
}

#email-notifications-btn,
#public-profile-btn {
  position: relative;
  left: 0px;
  width: 15px;
  height: 15px;
  transition: 0.3s;
  cursor: pointer;
}

#email-notifications-btn:checked,
#public-profile-btn:checked {
  left: 20px;
} 

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
}

.settings-form select {
  cursor: pointer;
}

#settings-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#settings-save-btn {
  background-color: #5252bc;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

#settings-cancel-btn {
  background-color: #ddd;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

/*----------------------------------*/
/*           Media Queries          */
/*----------------------------------*/

@media (min-width: 768px) {
  
  .main {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-areas: 
    "navigation traffic"
    "navigation daily-traffic"
    "navigation mobile-users"
    "navigation social-stats"
    "navigation new-members"
    "navigation recent-activity"
    "navigation message-user"
    "navigation settings";
  }

  h3:first-child,
  h3:nth-child(2) {
    align-self: flex-start;
  }

  .user-name {
    display: block;
    color: #ccc;
  }

  .navigation {
    grid-area: 'navigation';
    grid-row-start: 1;
    grid-row-end: -1;
  }

  .navigation ul {
    flex-direction: column;
  }

  .chosen-nav {
    border-top: none;
    border-left: solid lightgreen 2px;
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 8px;
  }

  .daily-traffic {
    border-right: 1px solid lightgrey;
  }

  .social-stats-graphics {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .social-stat-box {
    max-width: 200px;
    margin: 10px 20px;
  }

  .members {
    border-right: 1px solid lightgrey;
  }

  .message-user {
    border-right: 1px solid lightgrey;
  }

  .settings-layout {
    height: 219px;
  }

}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 80px 1fr 1fr;
    grid-template-areas: 
    "navigation traffic traffic"
    "navigation daily-traffic mobile-users"
    "navigation social-stats"
    "navigation new-members recent-activity"
    "navigation message-user settings";
  }

  .wrapper2 {
    width: 95%;
  }

  .traffic {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .social-stats {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .social-stats-graphics {
    margin-bottom: 15px;
  }

  .settings-form {
    margin-bottom: 0;
  }

}